{% load easy_rest %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}
    {%endblock head%}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% load easy_rest %}

    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/update">Django update GCBV (rest)</a></li>
            <li><a href="/create">Django create GCBV (rest)</a></li>
            <li><a href="/active_ctx">active context</a></li>
            <li><a href="/error">error</a></li>

            <li><a href="/api">Api</a></li>
        </ul>
    </div>
</nav>
{%block body%}
{%endblock body%}

</body>
{% block page_javascript %}
{% endblock page_javascript %}
</html>