.idea

*.pyc


# virtual Enviroment related
.env
.tox


*/*.sqlite3
*.sqlite3
*__pycache__*

.sass-cache/
*.css.map
*.sqlite3

dist/

django_easy_rest.egg-info/
/build
build/
/build/
/_build
_build/
/_build/
