{% load static %}
<html lang="en">
<head>
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'Request.js' %}"></script>
    <script src="{% static 'PostHandler.js' %}"></script>
    <script src="{% static 'Submit.js' %}"></script>

    {% comment %}
    Bootstrap links:
    {% endcomment %}

    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-alpha.6-dist/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-alpha.6-dist/css/bootstrap-reboot.css' %}">
    <script src="{% static 'bootstrap-4.0.0-alpha.6-dist/js/bootstrap.js' %}"></script>


</head>
<body>
{% include "django_easy_rest/rest_api_form.html" with form=form %}
{#<form method="post">#}
{#    {% csrf_token %}#}
{#{{ form }}#}
{#    <input type="submit">#}
{#    </form>#}
</body>
</html>